.errorbox{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
        height: 200px;
        margin: auto;
        text-align: center;
}

.errorbox h1{
    font-size: 30px;
   font-family:Montserrat;
   font-weight: 400;
    margin-top: 20px;
}

.homeLink{
    text-decoration: none;
    color: #716f6f;
   
    
}

.homeLink div{
    margin-top: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
}

.homeLink:hover{
    color: tomato;
    
}
